name: Sync multiple branches
on:
  push:
    branches:
      - main
jobs:
  sync-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          git checkout test-env-1
          git merge main
          git push origin test-env-1